main {
    display: flex;
}


.containerLogin {
    width: 65vw;
    height: 100vh;
    background-image: url("../../assets/Tela\ Login/imagem tela de login.png");
    background-repeat: no-repeat;
    background-size: 100% 100vh;
}

.containerForm {
    width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Inter";

    h1 {
        font-size: 2rem;
        width: 20vw;
        font-weight: 700;
        text-align: center;
        padding: 8px;
    }

    p {
        padding-bottom: 32px;
        font-weight: 700;
        color: #0844C4;
    }

    form {
        height: 20vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        input {
            height: 6vh;
            width: 19.16vw;
            border-radius: 6px;
            padding: 12px, 13px;
            border-color: #CBD4E1;
            color: #898D93;
        
        }

        .buttonGroup {
            width: 15vw;
            height: 4vh;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            
            button{
                width: 5vw;
                height: 4vh;
                font-size: 1rem;

            }
        }
    }
}