.containerPrincipal {
    display: flex;
}


.containerLogin {
    width: 65vw;
    height: 100vh;
    background-image: url("../../assets/Tela\ Login/imagem tela de login.png");
    background-repeat: no-repeat;
    background-size: 100% 100vh;
}

.containerForm {
    width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Inter";

    h1 {
        font-size: 2rem;
        width: 20vw;
        font-weight: 700;
        text-align: center;
        padding: 8px;
    }

    p {
        padding-bottom: 19px;
        font-weight: 700;
        color: #0844C4;
    }

    form {
        height: 27vh;
        display: flex;
        flex-direction: column;
        //justify-content: space-between;
        justify-content: space-evenly;
        align-items: center;

        input {
            height: 6vh;
            width: 19.16vw;
            border-radius: 6px;
            border: solid 0.8px;
            padding: 12px, 13px;
            border-color: #CBD4E1;
            color: #898D93;
        }

        input:hover {
            border: solid 0.8px #001A3D;
        }

        input:active {
            border: solid 0.8px #001A3D;
        }

        input:invalid {
            border: solid 0.8px #A60B2F;
        }

        a {
            text-decoration: none;
            padding: 12px, 13px;
        }

        .buttonGroup {
            width: 15vw;
            height: 4vh;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            padding-top: 20px;
     
            .buttonEntrar{
                width: 7vw;
                height: 6vh;
                font-size: 1rem;
                border-radius: 6px;
                border: 0.8px;
                background-color: #001A3D;
                color: #FFFFFF;
            }


            .buttonCriar{
                width: 7vw;
                height: 6vh;
                font-size: 1rem;
                border-radius: 6px;
                border: 0.8px;
                background-color: #00BEDD;
                color: #FFFFFF;
            

            }
            .buttonCriar:hover{
                background-color: #00ACC7;
            }
        }
    }
}