.layout {
    display: flex;
    font-family: 'Inter';
}

header {
    //border: solid red;
    display: flex;
    width: 10%;
    height: 5vh;
    justify-content: space-evenly;
    align-items: center;
    
    
}

.mainReembolsos {
    height: 95vh;
    //border: solid blue;
    display: flex;
    width: 100%;
    
}

.centralizar {
    width: 90vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 25rem;
    //border: solid;

    h1 {
        font-weight: 700;
        font-size: 2rem;
    }

    p {
        font-weight: 400;
    }
}

.containerCards {
    width: 50vw;
    //border: solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30vh;

}

article {
    border: solid #CBD4E1 0.8px;
    border-radius: 6px;
    width: 15vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerStatus {
    width: 50vw;
    height: 15vh;
    border: solid #CBD4E1 0.8px;
    border-radius: 6px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    div {
        //border: solid orange;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 20%;
        height: 8vh;
    }
}

.img1 {
    border-radius: 6px;
    padding: 6px;
    background-color: #00BEDD;

}

.img2 {
    border-radius: 6px;
    padding: 6px;
    background-color: #E56700;

}

.img3 {
    border-radius: 6px;
    padding: 6px;
    background-color: #007A6A;

}

.img4 {
    border-radius: 6px;
    padding: 6px;
    background-color: #A60B2F;
}

.containerSistema {
    display: flex;
    width: 9vw;
    //border: solid;
    justify-content: space-between;
    color: #0844C4;
    font-weight: 400;
    padding-top: 15px;
}

