.layoutSolicitacao{
    display: flex;
}

.headerSolicitacao {
    //border: solid;
    width: 20vw;
}

.containerPrincipalSolicitacao{
    width: 95%;
}

.mainSolicitacao{
    //display: flex;
}

.formSolicitacao {
    display: flex;
    justify-content: space-between;
    width: 100%;
    //border: solid;

}


input, select{
    width: 100%;
    height: 4vh;
    border-radius: 6px;
    border: solid 0.8px #CBD4E1;
}

label{
    color: #23282F;
    font-weight: 700;
    font-size: 1.1rem;
}

// Estilização do grupo 1
.grupo1 {
    //border: solid green;
    width: 30%;
    height: 25vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.inputNome {
    //border: solid blue;
    width: 45%;
}

.inputEmpresa {
    //border: solid red;
    width: 25%;

}

.inputPrestContas {
    //border: solid purple;
    width: 25%;

}

.inputMotivo {
    width: 100%;
    input {
        height: 9vh;
    }

}

//Estilização da barra

.barraVertical {
    height: 25vh;
    background-color: #CBD4E1;
    width: 0.1vw;
}

// Estilização do grupo2

.grupo2 {
    height: 25vh;
    //border: solid blue;
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.inputData {
    //border: solid green;
    width: 25%;
}

.selectDespesa {
    //border: solid blue;
    width: 30%;
}

.centroDeCusto {
    //border: solid violet;
    width: 40%;
}

.ordem, .divisoes, .pep, .distancia {
    width: 8%;

}

.moeda, .valorKm, .valorFaturado, .despesa{
    width: 11%;
}

.botoes {
    //border: solid red;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.botaoSalvar {
    background-color: #001A3D;
    color: white;
    width: 3vw;

}

.botaoDeletar{
    background-color: #00BEBD;
    width: 2vw;

}

table{
    //background-color: aqua;
    width: 100%;
    border: solid #CBD4E1 0.8px;
    border-collapse: collapse;
    padding-top: 5px;
    border-radius: 6px;
    
}

th {
    background-color: #CBD4E1;
    font-weight: 400;
    font-size: 1rem;
   
}

td, th {
    border: solid #F1F4F9 0.8px;
    text-align: center;
}


