.layoutSolicitacao{
    display: flex;
    font-family: 'Inter';
}

.headerSolicitacao {
    //border: solid;
    width: 20vw;
}

.containerPrincipalSolicitacao{
    width: 95%;
}

.formSolicitacao {
    display: flex;
    justify-content: space-between;
    width: 99%;
    //border: solid;

}


input, select{
    width: 100%;
    height: 4vh;
    border-radius: 6px;
    border: solid 0.8px #CBD4E1;
}

label{
    color: #23282F;
    font-weight: 700;
    font-size: 1rem;
}

// Estilização do grupo 1
.grupo1 {
    //border: solid green;
    width: 30%;
    height: 25vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.inputNome {
    //border: solid blue;
    width: 45%;
}

.inputEmpresa {
    //border: solid red;
    width: 25%;

}

.inputPrestContas {
    //border: solid purple;
    width: 25%;

}

.inputMotivo {
    width: 100%;
    input {
        height: 9vh;
    }

}

//Estilização da barra

.barraVertical {
    height: 24vh;
    background-color: #CBD4E1;
    width: 0.1vw;
    border: solid 1px #CBD4E1;
}

// Estilização do grupo2

.grupo2 {
    height: 25vh;
    //border: solid blue;
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.inputData {
    //border: solid green;
    width: 25%;
}

.selectDespesa {
    //border: solid blue;
    width: 30%;
}

.centroDeCusto {
    //border: solid violet;
    width: 38%;
}

.ordem, .divisoes, .pep, .distancia {
    width: 8%;

}

.moeda, .valorKm, .valorFaturado, .despesa{
    width: 9%;
}

.botoes {
    //border: solid;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Inter';
    width: 15%;
    height: 6vh;
    padding: 12px 14px;

    button {
        border-radius: 6px;
        border: solid 0.8px #F1F4F9;
    }
}

.botaoSalvar {
    background-color: #001A3D;
    color: white;
    width: 5vw;
    height: 4vh;
    font-weight: 700;

}

.botaoDeletar{
    background-color: #00BEBD;
    width: 2vw;
    height: 4vh;

}

table{
    //background-color: aqua;
    width: 99%;
    outline: 0.8px solid #CBD4E1;
    border-radius: 6px;
    border-collapse: collapse;
    padding-top: 5px;
    
}

tbody {
    height: 50vh;
}

th {
    background-color: #CBD4E1;
    font-weight: 400;
    font-size: 1rem;
    height: 4vh;
}

td, th {
    border: solid #F1F4F9 0.8px;
    text-align: center;
    height: 4vh;
}

.finalSolicitacao {
    display: flex;
    //border: solid greenyellow;
    width: 99%;
    justify-content: end;
    height: 12vh;
    padding-top: 15px;

}

.grupo3{
    //border: solid;
    display: flex;
    width: 50%;

}

.inputFinal{
    display: flex;
    //border: solid burlywood;
    width: 50%;
    justify-content: space-around;
}

.inputTf{
    width: 50%;
    padding: 12px 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;


    input {
        width: 70%;
    }

}

.inputTd{
    width: 50%;
    //border: solid;
    padding: 12px 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    input {
        width: 70%;
    }

}

.finalBotoes{
    //border: solid silver;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

button{
    font-family: 'Inter';
}

.buttonCheck{
    background-color: #001A3D;
    border-radius: 6px;
    border: solid 0.8px #CBD4E1;
    color: #F1F4F9;
    font-weight: 700;
    height: 6vh;
    width: 47%;
    align-items: center;
}

.buttonX{
    background-color: #A60B2F;
    border-radius: 6px;
    border: solid 0.8px #CBD4E1;
    color: #F1F4F9;
    font-weight: 700;
    height: 6vh;
    width: 47%;
    align-items: center;
}



